# IDE settings
.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv

# Logs
.logs
*.log

# Production
.prod
*.prod.*

# Store
.records
.DS_Store

# SSL Certificate
*.pem
*.crt
*.cer
*.key
*.p7b
*.p7c
*.der
*.pfx
*.p12
